@{
    ViewBag.Title = "EditHosteliteRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using STC_online.Models;

<form style="color:#000;" method="post" action="@Url.Action("SaveHostelite", "Admin")" class="form col-md-5 pull-right">

    <font color="415c81" style="font-family: cursive" size="5">  Hostelite Record</font>
    <br><br />
    <label>Name</label>
    <input required class="form-control" type="text" name="name" value="@ViewBag.EditHoteliteAdmin.name"></input ><br>
    <label>Room No</label>
    <input required class="form-control" type="text" name="roomNo" value="@ViewBag.EditHoteliteAdmin.roomNo"></input ><br>

    <label>Department</label>
    <input required class="form-control" value="@ViewBag.EditHoteliteAdmin.department" type="text" name="department" id="department" class="nameTextField" style=" opacity: 0.6"></input ><br>
    <label>Contect</label>
    <input required class="form-control" value="@ViewBag.EditHoteliteAdmin.contact" type="text" name="contact" id="contact"></input ><br>
    <label>City</label>
    <input required class="form-control" value="@ViewBag.EditHoteliteAdmin.city" type="text" name="city" id="city"></input ><br>
    <label>Year</label>
    <input required class="form-control" value="@ViewBag.EditHoteliteAdmin.year" type="text" name="year" id="year"></input ><br>
    <label>AnnualDues</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.AnnualDues" type="text" name="AnnualDues"></input ><br>
    <label>AnnualDueDate</label>
    <input class="form-control" value="@ViewBag.EditHoteliteAdmin.AnnualDueDate" type="text" name="AnnualDueDate"></input ><br>
    <label>Mess Dues</label>
    <input class="form-control" value="@ViewBag.EditHoteliteAdmin.MessDues" type="text" name="MessDues"></input ><br>
    <label>Mess DueDate</label>
    <input required class="form-control" value="@ViewBag.EditHoteliteAdmin.MessDueDate" type="text" name="MessDueDate"></input ><br>

    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.image" type="hidden" name="image"></input ><br>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.Id" type="hidden" name="Id"></input >
    <label>CNIC</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.CNIC" type="text" name="CNIC"></input ><br>
    <label>Degree</label>
    <input required class="form-control" value="@ViewBag.EditHoteliteAdmin.degree" type="text" name="degree"></input ><br>
    <label>WaterCollerBill</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.WaterCollerBill" type="text" name="WaterCollerBill"></input ><br>
    <label>WaterCollerDueDate</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.WaterCollerDueDate" type="text" name="WaterCollerDueDate"></input ><br>
    <label>ACBill</label>
    <input class="form-control" value="@ViewBag.EditHoteliteAdmin.ACBill" type="text" name="ACBill"></input ><br>
    <label>ACBillDueDate</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.ACBillDueDate" type="text" name="ACBillDueDate"></input ><br>
    <label>laundaryBill</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.laundaryBill" type="text" name="laundaryBill"></input ><br>
    <label>laundaryBillDueDate</label>
    <input class="form-control" value="@ViewBag.EditHoteliteAdmin.laundaryBillDueDate" type="text" name="laundaryBillDueDate"></input ><br>
    <label>canteenBill</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.canteenBill" type="text" name="canteenBill"></input ><br>
    <label>canteenBillDueDate</label>
    <input  class="form-control" value="@ViewBag.EditHoteliteAdmin.canteenBillDueDate" type="text" name="canteenBillDueDate"></input ><br>
    
    <input type="submit" style="background-color: lightblue;font-family: cursive; color: #337ab7" value="Save Record" name="submit" class="btn btn-lg btn-block pull-right"></input >
</form>


<br />
<br />
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />

<br />
<br /><br /><br />
<br /><br />
<br />
<br />
<br /><br />
<br /><br />
<br />
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br /><br />
<br />
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
